body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
}

h1 {
  font-family: 'Oswald', sans-serif;
 }

a {
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

p {
  font-family: 'Fira Sans', sans-serif;
}

